<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiaoShow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>310BDD331D3B248F00F097CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>310BDD4F1D3B248F00F097CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>310BDD5A1D3B248F00F097CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
